:root {
  --primary-color: rgba(208, 253, 62, 1);
  --secondary-color: rgba(26, 29, 38, 1);
  --tertiary-color: rgba(255, 255, 255, 0.4);
  --primary-text-color: rgba(255, 255, 255, 0.6);
  --secondary-text-color: rgba(255, 255, 255, 1);
  --tertiary-text-color: rgba(255, 255, 255, 0.9);
  --copy-text-color: rgba(255, 255, 255, 0.8);
  --icons-border-color: rgba(219, 219, 219, 0.2);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins",sans-serif;
  overflow-x: hidden;
}
.login{
  width: 100vw;
  background-color: var(--secondary-color);
  display: flex;
 justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.leftSide{
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding:1rem 5rem;
  
}
.leftSide p{
 width: 100%;
  color: var(--primary-text-color);
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: center;
}
.loginForm{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginForm input{
  width: 100%;
  border: none;
  background-color: transparent;
}
.loginForm fieldset{
  width: 100%;
height: 66px;
border-radius: 5px;
  border:1px solid var(--primary-color);
  margin-top: 1rem;
 padding:.25rem;
}
.loginForm legend{
  color: var(--primary-color);
font-size: 14px;
font-weight: 400;
line-height: 21px;
padding: 0 .5rem;
}
.loginForm input{
  padding: 0.25rem  1rem;
}
.frgtPass{
  color: var(--primary-color);
  padding: 5px 0;
  align-self: flex-end;
font-size: 16px;
font-weight: 500;
line-height: 24px;

}
.rmberMe{
  padding: 12px 0;
  color: var(--primary-color);
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}
.rmberMe input[type="checkbox"]{
  accent-color: var(--primary-color);
  width: 20px;
  height: 20px;
}
.rmberMe span{
  padding-left: 5px;
font-size: 18px;
font-weight: 500;
line-height: 27px;
color: var(--tertiary-text-color);
}

.loginBtn{
  display: flex;
  align-items: center;
  justify-content: center;
 width: 100%;
 background-color: var(--primary-color);
 border:none;
 padding: 8px 0;
max-height: 65px;
text-decoration: none;
border-radius: 16px;
font-size: 20px;
font-weight: 600;
color:  rgba(1, 1, 1, 1);
}
input[type="text"], input[type="password"], input[type="email"]:focus{
outline: none;
}
input[type="text"], input[type="password"], input[type="email"]{
  color:var(--primary-text-color) ;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.signUp{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
.signUp p{
font-size: 14px;
font-weight: 400;
line-height: 21px;
}
.signUp span{
  color: var(--primary-color);
}
.signUp hr{
  border: 1px solid var(--icons-border-color);
  width: 20%;

height: 0px;

}
.socialIcons{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  gap: 1rem;
  padding-bottom:1rem ;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid var(--icons-border-color);
  max-width: 130px;
  width: 130px;
height: 60px;
border-radius: 5px;



}
.rightSide{
  width: 60vw;
}
.rightSide img{
width: 60vw;
object-fit: cover;
position: relative;
overflow: hidden;
}
.quoteBlock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
   position: absolute;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%,-50%); 
  padding: 10px;
  text-align: center;
max-width: 40%;  
}
.quoteBlock img{
  max-width: 22.06px;
max-height: 40%;

}
.quoteBlock p{
font-size: 30px;
font-weight: 500;
line-height: 53px;
text-align: center;
color: var(--copy-text-color);

}

.leftSide{
  float: left;
}
@media (max-width:1024px){
  .login{
flex-direction: column-reverse;
width: 100vw;

  }
  .leftSide{
      width: 100vw;
      padding: 1rem 3rem;

  }
  .loginForm{
      width: 100%;
  }
  .rightSide img{
     width: 100vw;
     object-fit: cover;
  }
  .quoteBlock{
      position: absolute;
  top: 20%; 
  left: 10%;
  transform: translateX(-20%,-20%);  
  max-width: 100%;
  }


}