
.dashboard{
    display: flex;
   background: rgba(26, 29, 38, 1);
   justify-content: center;
   align-items: center;
   overflow: hidden;
   width: 100vw;
}
.wrapper{
    display: flex;
    flex-direction: column;
}