.analytics {
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-left:5rem;
  max-width: 1200px;
  overflow-x: hidden;
}
.analyticsTop,
.analyticsMiddle,
.analyticsLower {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 900px) {
  .analyticsTop,
  .analyticsMiddle,
  .analyticsLower {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
  }

  .analytics {
    margin-left:21vw;
    width: 77vw;
    justify-content: center;
    align-items: center;
  }
}
