.chartContainer {
  width: 31vw;
  height: 270px;
  background: rgba(66, 71, 86, 1);
  border-radius: 10px;
  border: 1px solid rgba(118, 126, 151, 1);
  padding: 0.5rem;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28.24px;
  text-align: left;
  color: rgba(248, 248, 248, 1);
}
.container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle {
  position: relative;
  min-width: 171px;
  min-height: 171px;
  width: 161px;
  height: 161px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.circle::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 10px; 
  background: conic-gradient(
    rgba(208, 253, 62, 1) 0% 70%,
    
      rgba(117, 179, 254, 1) 70% 80%,
    rgba(253, 207, 111, 1) 80% 100% 
  );
  -webkit-mask: radial-gradient(closest-side, transparent 72%, #fff 73%);
  mask: radial-gradient(closest-side, transparent 72%, #fff 73%);
  transform: rotate(-70deg);
}

.circleText {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circleText .number {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: rgba(248, 248, 248, 1);
}

.circleText .label {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.legendItem {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.basic {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(208, 253, 62, 1);
}

.standard {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(253, 207, 111, 1);
}

.premium {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(117, 179, 254, 1);
}
@media (max-width: 900px) {
  .chartContainer {
    margin: 0 auto;
    height: auto;
    width: 100%;
  }
  h2 {
    text-align: center;
  }
  .container {
    flex-direction: column;
  }
}
