.workout {
  max-width: 130px;
  height: 143.09px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}
.workout img {
  width: 130px;
  height: 83.11px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.workout h4 {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: rgba(248, 248, 248, 1);
}
.ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7.4px;
  color: rgba(248, 248, 248, 0.8);
  font-weight: 500;
}
.ratings img {
  width: 8.16px;
  height: 7.61px;
}

/* RatedWorkout component styling */
.ratedWorkout{
  display: flex;
  flex-direction: column;
height: auto;
border-radius: 10px 10px 0 0;
box-sizing: border-box;
background-color:rgba(66, 71, 86, 1);
color:rgba(255, 255, 255, 1);
padding:.5rem ;
width: 100%;
}
.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:1rem;
 padding: 1rem;
}
.header img{
  width: 30px;
height: 30px;
border-radius: 50%;
background: rgba(244, 67, 54, 1);


}
.header h2{
 
font-size: 20px;
font-weight: 500;

}
.listedWorkout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1 1;
}
.listedWorkout > div {
  flex: 1 1 calc(35% - 10px); /* 50% width minus the gap */
  text-align: center;
  box-sizing: border-box;
}
@media (min-width:900px){
  .ratedWorkout{
  width: 75vw;
    padding: 1rem;
    align-items: space-between;
   gap: 1rem;
  }

  .listedWorkout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
  }
  .listedWorkout > div {
    flex: 1 1 calc(30% - 10px); /* 50% width minus the gap */
    text-align: center;

  }
  .header{
    justify-content: flex-start;
  }
}